<!--
Autor: Nicolás Toro Echeverri
Fecha de creación: 15/08/2023 7:42pm
Ultima modificación: 16/08/2023 11:54am

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon-->
    <link rel="shortcut icon" href="/src/images/vector (1).png" type="image/png">
    <title>Vectors 3D</title>
    <link rel="stylesheet" href="/src/css/main.css">

     <!-- Style Bootstrap-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
 <!--Js or logic functions of Bootstrap-->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
     crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
     integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
     crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
     integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
     crossorigin="anonymous"></script>
     <!--Three JS library-->
     <script src="../libs/three.min.js"></script>
</head>
<body>
    <!--Header-->
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="../../index.html">
                <img src="/src/images/Icon.png" alt="Bootstrap" width="100%" height="30">
            </a>
        </div>
    </nav>
    <br><br>
    
    <!--Canvas it can be used to draw graphics through scripts (usually JavaScript).
    It can be used to draw graphics, make photo compositions or even make animations.
    -->

    
    <!--Footer-->
    <div class="container">
        <footer class="navbar fixed-bottom mt-auto bg-light text-center text-lg-start">
            <p class="text-center text-muted"> &nbsp; © 2023 - Nicolás Toro Echeverri </p>
        </footer>
    </div>
</body>
</html>